[submodule "externals/pbj"]
	path = externals/pbj
	url = git://github.com/danielrh/pbj.git
[submodule "externals/prox"]
	path = externals/prox
	url = git://github.com/danielrh/prox.git
[submodule "externals/awesomium"]
	path = externals/awesomium
	url = git://github.com/pathorn/awesomium.git
