
# CMake files
build/cmake/CMakeCache.txt
build/cmake/CMakeFiles
build/cmake/Makefile
build/cmake/cmake_install.cmake

# build products
build/cmake/libcbr-core.a
build/cmake/cbr
build/cmake/oh
build/cmake/analysis
build/cmake/cseg

# config files
build/cmake/serverip*
scripts/serverip*
# trace files
build/cmake/sync*.txt
build/cmake/trace*
scripts/sync*.txt
scripts/trace*
# analysis files
build/cmake/*.dat
build/cmake/*.ps
scripts/analysis.trace
scripts/*.dat
scripts/*.ps
scripts/distance_latency_histogram.csv
scripts/loc_latency*.txt
scripts/prox.log
# profiling files
scripts/gprof*.txt

# moc files
build/cmake/moc*
build/cmake/__/
src/moc*

# protobuf files
build/cmake/protobuf_CBR.txt
build/cmake/temp.cs
protocol/CBR_*

# dependencies directory
dependencies

# script by-products
*.pyc
scripts/.changes.patch
scripts/.commits.patch