[submodule "externals/berkelium"]
	path = externals/berkelium
	url = git://github.com/sirikata/berkelium.git
[submodule "externals/pbj"]
	path = externals/pbj
	url = git://github.com/sirikata/pbj.git
[submodule "externals/cxxtest"]
	path = externals/cxxtest
	url = git://github.com/sirikata/cxxtest.git
[submodule "externals/prox"]
	path = externals/prox
	url = git://github.com/sirikata/prox.git
[submodule "externals/http-parser"]
	path = externals/http-parser
	url = git://github.com/ry/http-parser.git
[submodule "externals/sirikata-protocol"]
	path = externals/sirikata-protocol
	url = git://github.com/sirikata/sirikata-protocol.git
