SIRIKATA_DIR=/disk/local/sirikata/sirikatabin
LOGFILE=/disk/local/sirikata/space.log
ID=1
SERVERMAP=/disk/local/sirikata/servermap.txt
LAYOUT="<2,1,2>"
REGION="<<-200.000000,-4000.000000,-8000.000000>,<200.000000,4000.000000,8000.000000>>"
PINTO_HOST=sns31.cs.princeton.edu
PINTO_PORT=6665
REDIS_HOST=sns31.cs.princeton.edu
REDIS_PORT=6379
